DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=auth
SERVER_PORT=8088
# JWT Configuration
JWT_SECRET=your-secret-key-change-this-in-production


# Server Configuration
PORT=3001

# Environment
APP_ENV=development
CLOUDINARY_CLOUD_NAME=dbbp1oc83
CLOUDINARY_API_KEY=135928781733738
CLOUDINARY_API_SECRET=oS0_nzNuY0ozvujiQpYqnBvWiGw

# DROP_ORDER_FULFILLMENT_TABLES = true             # Drop order and fulfillment related tables
# DROP_ALL_TABLES=true              # Drop ALL tables and recreate schema
# DROP_ALL_EXCEPT_USER=true         # Drop all tables except user-related
# DROP_ITEM_TABLES=true             # Drop only item-related tables
# DROP_ITEM_MODEL_ONLY=true         # Drop only Item model (not variants/details)
# DROP_PURCHASE_ORDER_TABLES = True
# DROP_PRODUCT_DATA = true